<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>버스 데이터베이스</title>
</head>
<body>
    <h3>버스 데이터베이스</h3>
    <hr>
    <button>271번 버스</button>
    <button>1213번 버스</button>
    <button>2013번 버스</button>
    <button>2230번 버스</button>

    <div id="result">
        <!-- 결과가 여기에 표시됨 -->
    </div>

</body>
</html>